$gray: #ced4da;
$dark-gray: #868e96;
$black: #000;
$white: #fff;

body {
  margin: 0;
}

main {
  display: flex;
  gap: 30px;
  align-items: flex-start;

  padding-top: 30px;
  padding-left: 30px;

  margin-top: 60px;

  position: relative;

  @media screen and (max-width: 600px) {
    padding: 30px 50px;
  }
}

.header {
  background-color: $gray;

  padding: 15px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 3;

  &__cart--mobile,
  &__back--mobile {
    display: none;

    background-color: transparent;
    border: none;

    border-radius: 100%;

    cursor: pointer;
  }

  &__back--mobile {
    border: 1px solid $black;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__cart--mobile,
    &__back--mobile {
      display: block;
    }

    &__back--mobile {
      visibility: hidden;
      pointer-events: none;
    }

    &--cart-opened {
      .header__back--mobile {
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-content: center;

  gap: 50px;

  padding-bottom: 50px;

  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;

    & > img {
      max-height: 400px;
      width: 100%;
      object-fit: cover;

      margin-bottom: 20px;
    }

    & > h2,
    & > h3 {
      margin: 0;
    }

    & > button {
      background-color: $black;
      width: 200px;
      border: none;
      color: $white;

      font-size: 18px;

      padding: 10px;
      margin-top: 20px;

      cursor: pointer;
    }
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;

    &__item {
      align-items: center;
    }
  }
}

.cart {
  position: sticky;
  top: 60px;
  bottom: 0;
  right: 0;

  max-width: 400px;
  width: 100%;
  height: calc(100vh - 130px);

  margin-top: -30px;

  border: 3px dashed $black;
  background-color: $white;

  display: flex;
  flex-direction: column;

  padding: 30px;

  &--empty {
    align-items: center;
    justify-content: center;

    & > img {
      width: 40px;
      height: 40px;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;

    & > img {
      width: 30px;
      height: 30px;
    }

    & > h2 {
      font-size: 20px;
      margin: 0;
    }
  }

  & > button {
    background-color: $black;
    border: none;
    color: $white;

    padding: 7px;

    font-size: 22px;

    cursor: pointer;
  }

  &__list {
    list-style: none;
    flex-grow: 0.9;
    overflow: auto;

    &__item {
      display: flex;
      gap: 15px;
      & > img {
        width: 100px;
        height: 100px;
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 7px;

        & > h3,
        & > p {
          margin: 0;
        }

        & > button {
          background-color: $dark-gray;
          color: $white;
          border: none;

          padding: 5px;

          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    position: fixed;
    right: -100%;
    left: 100%;
    top: 60px;
    bottom: 0;

    margin-top: 0;

    max-width: none;
    border: none;
    width: auto;
    height: auto;
    padding: 30px;

    gap: 40px;

    &--opened {
      right: 0;
      left: 0;
    }

    &__list {
      flex-grow: 0;
    }
  }
}
